<%= simple_form_for(@party) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name , :required => true %>
    <%= f.input :award , :required => true %>
    <%= f.input :limitvolumeteam , :required => true %>
    <%= f.input :limitdateregistration , :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
