<%= simple_form_for(@local) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :descriptiveNameLocal , :label => 'Name Local:', :required => true, :input_html => { :maxlength => 20 }  %>
    <%= f.association :district , :label => 'District:', :required => true %>
	<%= f.input :address , :label => 'Address:', :required => true, :input_html => { :maxlength => 20 }  %>
	<%= f.input :addressinGoogleMaps , :label => 'Address in Google Maps:', :required => true, :input_html => { :maxlength => 20 }  %>
    <%= f.input :telephone , :label => 'Telephone:', :required => false, :input_html => { :maxlength => 10 }  %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
