<%= simple_form_for(@owner) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username , :label => 'Username:', :input_html => { :value => current_user.username, :readonly => "readonly" } %>
    <%= f.input :firtsName , :label => 'Firts Name:', :required => true, :input_html => { :maxlength => 15 } %>
    <%= f.input :secondName , :label => 'Second Name:' , :input_html => { :maxlength => 15 } %>
	<%= f.association :sex , :label => 'Sex:', :required => true %>
    <%= f.input :phone , :label => 'Phone:', :input_html => { :maxlength => 10 } %>
    <%= f.input :birthday , :label => 'Your Birthday please' , :start_year => 1940 %>
  </div>
<br><br>
  <div class="actions" align="center">
    <%= f.button :submit, :value => "Aceptar" %>
  </div>
<% end %>
<br>