<%= simple_form_for(@photoalbum) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
	<%= f.association :field %>
    <%= f.input :name %>
    <%= f.input :date %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
