<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@user.errors.count, "error") %> prohibited this gift from being saved:</h2>-->

      <ul style="color:#F00">
	  <strong>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
	  </strong>
      </ul>
    </div>
  <% end %>

<div class="field">
<table>
<tr>
	<td><%= f.label :firstName %></td>
	<td><%= f.text_field :firstName, :required => true, :input_html => { :maxlength => 15 } %></td>
</tr>
<tr>
	<td><%= f.label :lastName %></td>
    <td><%= f.text_field :lastName, :required => true, :input_html => { :maxlength => 15 } %></td>
</tr>
<tr>
	<td><%= f.label :typedocument_id %></td>
    <td><%= f.collection_select :typedocument_id, Typedocument.all, :id, :name, :prompt => true, :required => true %></td>
</tr>
<tr>
	<td><%= f.label :dni %></td>
    <td><%= f.text_field :dni, :required => true %></td>
</tr>
<tr>
	<td><%= f.label :sex_id %></td>
    <td><%= f.collection_select :sex_id, Sex.all, :id, :name, :prompt => true, :required => true %></td>
</tr>
<tr>
	<td><%= f.label :phone %></td>
    <td><%= f.text_field :phone, :input_html => { :maxlength => 10 } %></td>
</tr>
<tr>
	<td><%= f.label :birthday %></td>
    <td><%= f.date_select :birthday %></td>
</tr>
<tr>
	<td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
</tr>
<tr>
	<td><%= f.label :email_confirmation %></td>
	<td><%= f.email_field :email_confirmation %></td>
</tr>
<% if current_user == nil %>
<tr>
	<td><%= f.label :typeuser_id %></td>
    <td><%= f.collection_select :typeuser_id, Typeuser.all, :id, :nameDescription, :prompt => true, :required => true %></td>
</tr>
<% end %>
</table>

<br>

<% if current_user == nil %>
<table border=1>
<tr>
	<td><%= f.label :username %></td>
    <td><%= f.text_field :username %></td>
</tr>
	<td><%= f.label :password %></td>
	<td><%= f.password_field :password %></td>
</tr>
<tr>
	<td><%= f.label :password_confirmation %></td>
	<td><%= f.password_field :password_confirmation %></td>
</tr>
</table>
<% end %>

</div>
<br><br>
  <div class="actions" align="center">
    <%= f.button "Aceptar" %>
  </div>
<% end %>
<br>