<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <%= f.input :name %>

    <%= f.input :firstname %>

    <%= f.input :lastname %>

    <%= f.input :documentnumber %>

    <%= f.input :email %>

    <%= f.input :emailconfirmation %>

    <%= f.input :datebirth %>

    <%= f.input :phone %>

    <%= f.input :username %>

  </div>
  <div class="field">
         <%= f.label :password %><br />
         <%= f.password_field :password %>
     </div>
     <div class="field">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation %>
       </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
