<h1>Listing customers</h1>


<%= form_for @search do |f| %>   
<p>   
<%= f.label :firtsName_contains %>   
<%= f.text_field :firtsName_contains %>   
</p>
<p>   
<%= f.label :secondName_contains %>   
<%= f.text_field :secondName_contains %>   
</p> 
<p> 
<%= f.label :sex_name_contains %>  
<%= f.text_field :sex_name_contains %>
</p>
<p> 
<%= f.label :typedocument_name_contains %>  
<%= f.text_field :typedocument_name_contains %>
</p>
<p class="button"><%= f.submit "Search" %> </p>   
<% end %> 


<table>
  <tr>
    <th>Firtsname</th>
    <th>Secondname</th>
	<th>Sex_id</th>
	<th>Typedoi</th>
    <th>Numerodoi</th>
    <th>Address</th>
	<th>District</th>
    <th>Birthday</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.firtsName %></td>
    <td><%= customer.secondName %></td>
	<td><%= customer.sex.name %></td>
	<td><%= customer.typedocument.name %></td>
    <td><%= customer.numeroDOI %></td>
    <td><%= customer.address %></td>
	<td><%= customer.district.name %></td>
    <td><%= customer.birthday %></td>
    <td><%= customer.phone %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
