<h1>Listing fields</h1>

<%= form_for @search do |f| %>   
	<p>   
	<%= f.label :distric_contains %>   
	<%= f.text_field :local_district_name_contains %>   
	</p>   
	<p class="button"><%= f.submit "Search" %> </p>   
<% end %> 

<br/>

<table>

  <tr>
  	<th>District</th>
	<th>Local</th>
    <th>Name</th>
    <th>Day</th>
    <th>Startime</th>
    <th>Endtime</th>
    <th>Dayprice</th>
    <th>Nightprice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
	<td><%= field.local.district.name %></td>
	<td><%= field.local.descriptiveNameLocal %></td>
    <td><%= field.name %></td>
    <td><%= field.day %></td>
    <td><%= field.starname.strftime("%l:%M %p") %></td>
    <td><%= field.endtime.strftime("%l:%M %p") %></td>
    <td><%= field.dayprice %></td>
    <td><%= field.nightprice %></td>
    <td><%= link_to 'Alquilar', new_hire_path %></td>
  </tr>
<% end %>
</table>

<br />

