<%= simple_form_for(@user_session) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <%= f.input :username %>
	<br>
    <%= f.input :password %>

  </div>

  <br><br>
  
  <div class="actions" align="center">
    <%= f.button :submit %>
  </div>
  <br><br>
<% end %>
